@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        article, aside, figure, footer, header, hgroup,
        menu, nav, section {
            display: block;
        }
    </style>
</head>
<body>

    <h1>Upload Image to S3</h1>
    <div>
        <div>
            <h3> select an image </h3>
            <input type="file" id="fileUpload" onchange="readURL(this);" />

        </div>
        <div>
            <br>
            <button onclick="s3upload()">Submit</button>
            <br>

            <h3 id="warning"></h3>
            <p id="link"></p>

        </div>

    </div>
    <br>

    <img id="image" />
    <br>

    <br>
     





         <div id="container">
            <p>Prograss</p>

            <div id="progress">
                <div id="bar">0%</div>
            </div>
        </div> 
        
        <style>
          
      

            h1 {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            }

             
            #progress {
                width: 100%;
                background-color: #ddd; 
            }

            #bar {
                width: 0%;
                height: 30px;
                background-color: #4CAF50;
                text-align: center;
                line-height: 30px;
                color: white;
            }
        </style>






















        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>

            function s3upload() {

                var elem = document.getElementById("bar");
                elem.style.width = 0 + "%";
                elem.innerHTML = 0 + "%";
                var container = document.getElementById("container");
                container.style.display = 'block'; 
                var elem = document.getElementById("bar");
                elem.style.width = 0 + "%";
                elem.innerHTML = 0 + "%";


                var formData = new FormData();

                var fileSelect = document.getElementById("fileUpload");
                if (fileSelect.files && fileSelect.files.length == 1) {
                    var file = fileSelect.files[0]
                    formData.set("image", file, file.name);
                }




                $.ajax({
                    xhr: function () {

                        var i = 0;

                        var xhr = new window.XMLHttpRequest();

                        //Download progress
                        xhr.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                //Do something with download progress
                                console.log(percentComplete);

                                if (i == 0) {
                                    i = 1;
                                    var elem = document.getElementById("bar");
                                    var width = percentComplete;
                                    var id = setInterval(frame, 10);
                                    function frame() {
                                        if (width >= 100) {
                                            clearInterval(id);
                                            i = 0;
                                            var prograss = document.getElementById("prograss");
                                            prograss.style.display = 'none';
                                            console.log("asdf");
                                            var element = document.getElementById("container");
                                            element.style.display = 'inline';



                                        } else {
                                            width++;

                                            elem.style.width = width + "%";
                                            elem.innerHTML = width + "%";
                                        }
                                    }
                                }


                            }
                        }, false);
                        return xhr;
                    },
                    type: 'POST',
                    url: '/Home/bitly',
                    data: formData,

                    processData: false,
                    contentType: false,
                    success: function (data) { 
                        var str = data.toString();
                        var result = str.link(data);
                        document.getElementById("warning").innerHTML = result;


                    },
                    error: function (data) {
                        console.log(data); 
                        var str = data.responseJSON.toString(); 
                        document.getElementById("warning").innerHTML = str;
                    }

                         


                    
                });


















                //console.log(formData);
                //$.ajax({
                //    xhr: function () {
                //        var xhr = new window.XMLHttpRequest();
                //        //Upload progress
                //        xhr.upload.addEventListener("progress", function (evt) {
                //            if (evt.lengthComputable) {
                //                var percentComplete = evt.loaded / evt.total;
                //                //Do something with upload progress
                //                var percentComplete = (percentComplete * 100);
                //                console.log(percentComplete)
                //                $("progress").attr('value', percentComplete);
                //            }
                //        }, false);
                //        //Download progress
                //        xhr.addEventListener("progress", function (evt) {
                //            if (evt.lengthComputable) {
                //                var percentComplete = evt.loaded / evt.total;
                //                //Do something with download progress
                //                var percentComplete = (percentComplete * 100);
                //                console.log(percentComplete);

                //                $("progress").attr('value', percentComplete);
                //            }
                //        }, false);
                //        return xhr;
                //    },
                //    type: 'POST',
                //    url: '/Home/bitly',
                //    data: formData,

                //    processData: false,
                //    contentType: false,
                //    success: function (data) {

                //        console.log(data);
                //        var str = data.toString();
                //        var result = str.link(data);
                //        document.getElementById("warning").innerHTML = result;


                //    },
                //    error: function (data) {
                //        var str = awslink;
                //        var result = str.link(awslink);;
                //        document.getElementById("warning").innerHTML = result;
                //    }
                //});
























                //} else {

                //    document.getElementById("warning").innerHTML = 'image not available!';
                //}
                //console.log("done");
                //document.getElementById("progress").value = "0";

            };


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>

        @*<script type="text/javascript">
                //Bucket Configurations
                var bucketName = 'task4-csc';
                var bucketRegion = 'us-east-1';
                var IdentityPoolId = "us-east-1:b65d5aba-a0c9-47e2-afdd-6b3084169080";

                AWS.config.update({
                    region: bucketRegion,
                    credentials: new AWS.CognitoIdentityCredentials({
                        IdentityPoolId: IdentityPoolId
                    })
                });

                var s3 = new AWS.S3({
                    apiVersion: '2006-03-01',
                    params: { Bucket: bucketName }
                });
            </script>


            <script type="text/javascript">

                function url() {
                    $.ajax({
                        url: '/Home/bitly',
                        type: 'POST',
                        dataType: 'json',
                        data: { pLongUrl: 'https://stackoverflow.com/questions/20151556/how-to-get-the-http-post-data-in-c' },
                        success: function (data) {
                           console.log(JSON.stringify(data));
                        },
                        error: function () {
                            alert('error');
                        }
                    });


                }


                function readURL(input) {
                     if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#image')
                                .attr('src', e.target.result)
                                .width(150)
                                .height(200);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                function s3upload() {
                    document.getElementById("link").innerHTML = "";
                    var files = document.getElementById('fileUpload').files;
                    if (files) {
                        try {

                            var file = files[0];
                            var fileName = file.name;
                            var filePath = 'task4-csc/' + fileName;
                            var fileUrl = 'https://' + bucketRegion + '.amazonaws.com/task4-csc/' + filePath;
                        } catch {
                            document.getElementById("warning").innerHTML = 'add image!' ;


                        }
                        s3.upload({
                            Key: filePath,
                            Body: file,
                            ACL: 'public-read'
                        }, function (err, data) {
                                if (err) {
                                    document.getElementById("warning").innerHTML = 'Error!';

                                }
                                else {
                                    var awslink = data.Location ;

                                    $.ajax({
                                        url: '/Home/bitly',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: { pLongUrl: data.Location, name: fileName },
                                        success: function (data) {

                                            console.log(data);
                                            var str = data.toString();
                                            var result = str.link(data);
                                            document.getElementById("warning").innerHTML = result;


                                        },
                                        error: function (data) {
                                            var str = awslink ;
                                            var result = str.link(awslink);;
                                            document.getElementById("warning").innerHTML = result;
                                        }
                                    });




                                }





                        }).on('httpUploadProgress', function (progress) {
                            var uploaded = parseInt((progress.loaded * 100) / progress.total);
                            $("progress").attr('value', uploaded);
                        });

                    } else {

                        document.getElementById("warning").innerHTML = 'image not available!';
                    }
                    console.log("done");
                    document.getElementById("progress").value = "0";

                };
            </script>*@
    </body>


</html>