@using Task6_ANDRE.Models
@model ChargeViewModel

@{
    ViewBag.Title = "OrderStatus";
}

<h2>Order Status</h2>

<h5>Your order was a success!</h5>

<div>
    <p>You will be charged $@Model.PriceId daily.</p>
</div>

