
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style media="screen">
    .green {
        border: solid green 1px;
    }

    .red {
        border: solid red 1px;
    }
</style>

@section stripe{
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('pk_test_51GtwelDUISIWU8NfVW2WkqPC6fzKhMdbgGX9a2jayBbhoaRqOkNmhgKPcHgYEhjnItieSIDLDZ91R29Ut65Okcm800TTfBryQd');
        var elements = stripe.elements();

        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };

        // Create an instance of the card Element.
        var card = elements.create('cardNumber', {
            classes: {
                base: "form-control",
                focus: "green",
                invalid: "red"
            },
        });

        var cvc = elements.create('cardCvc', {
            classes: {
                base: "form-control",
                focus: "green",
                invalid: "red"
            },
        });

        var exp = elements.create('cardExpiry', {
            classes: {
                base: "form-control",
                focus: "green",
                invalid: "red"
            },
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-number');
        cvc.mount('#card-cvc');
        exp.mount('#card-exp');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
}


<h2>Buy</h2>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <h2>Stripe Form</h2>
            <form action="/cart/Create" method="post" id="payment-form">
                <div class="form-group">
                    <label for="card-name">Name on Card</label>
                    <input type="text" name="cardName" class="form-control" id="cardName" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="xxx@xxx.com">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="XXXXXXXX">
                </div>
                <div class="form-group">
                    <label for="card-number">
                        Credit or debit card
                    </label>
                    <div id="card-number">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                </div>

                <!-- Used to display Element errors. -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="card-cvc">
                                CVC
                            </label>
                            <div id="card-cvc">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="card-exp">
                                Expiry date
                            </label>
                            <div id="card-exp">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="card-exp">

                            </label>
                            <div id="card-exp">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="form-control btn btn-primary">Submit Payment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
