

<h2>Add Notes</h2>

<form method="POST" action="/Home/Addnotes">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
        <label for="note">Add your note...</label>
        <textarea name="note" class="form-control" rows="10" cols="30" id="note" placeholder="Add your note..."></textarea>
    </div>
    <button type="submit">Add Note</button>
</form>